$('#quest_elements').append("<div class='green'><b><%= @quest.description %></b></br></div>");
$('#result_msg').append("se guardo correctamente");
$('#quest_description').val('');
$('#clone_elements').css('display','none')