<div class="span14">
<%= render :partial =>  'video_loaders/form_video' %>
</div>
<div class="span2 btn-group" style="margin-top:50px; margin-left:150px;">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	    Opcciones
	    <span class="caret"></span>
	</a>
<ul class="dropdown-menu">
</ul>
</div>
</div>