<div class="span16">
<div class="span18">
<%= render :partial => "video_loaders/index"%>
</div>
<div class="span2" style="margin-left:60px; margin-top:90px;">
<center><h1 class="green"><%=  @video_loaders_count %></h1></center>
<center><h2>Videos</h2></center>
</div>
<center>
<div class="btn", style="margin-left:60px; margin-top:35px;">
<%= link_to 'Agregar Video', new_video_course_path %>
</div>
</center>
</div>